
.Card {
    width: 50%;
    box-shadow: 10px 10px 10px 10px gainsboro;
    color: black;
    margin: 0% auto;
    padding: 20px;
    margin-bottom: 20px;

    
}
.title {
    text-align: center;
    color: black
}