body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color:whitesmoke;
    overflow: hidden;
  }
  
  .waaper {
    background:#000;
    padding: 100px

  }
  .split-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .text-part {
    display: inline-block;
    position: relative;
    transform: translateX(0);
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .text-part.left {
    transform: translateX(-200%);
    animation-name: slide-in-left;
  }
  
  .text-part.right {
    transform: translateX(200%);
    animation-name: slide-in-right;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slide-in-right {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  